.desktop-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.desktop-desktop {
    width: 100%;
    height: 3958px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}
.desktop-rectangle6 {
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 216px;
    position: absolute;
}
.desktop-rectangle710 {
    top: 1889px;
    left: 0px;
    width: 1280px;
    height: 500px;
    position: absolute;
}
.desktop-rectangle8 {
    top: 3492px;
    left: 0px;
    width: 1280px;
    height: 467px;
    position: absolute;
}
.desktop-image2 {
    top: 216px;
    left: 0px;
    width: 1280px;
    height: 468px;
    position: absolute;
}
.desktop-component11 {
    top: 652px;
    left: 323px;
    width: 308px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.desktop-rectangle711 {
    top: 0px;
    left: 0px;
    width: 308px;
    height: 66px;
    position: absolute;
    border-radius: 4px;
}
.desktop-text10 {
    top: 19px;
    left: 57px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-component12 {
    top: 652px;
    left: 648px;
    width: 308px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.desktop-rectangle712 {
    top: 0px;
    left: 0px;
    width: 308px;
    height: 66px;
    position: absolute;
    border-radius: 4px;
}
.desktop-text12 {
    top: 19px;
    left: 52px;
    color: rgba(1, 24, 39, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal; /* Ändra från 'Bold' till 'normal' */
    font-family: Roboto;
    font-weight: 700; /* Behåll detta om du vill ha fet stil */
    line-height: normal;
    text-align: center;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-component2 {
    top: 1736px;
    left: 648px;
    width: 308px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.desktop-rectangle713 {
    top: 0px;
    left: 0px;
    width: 308px;
    height: 66px;
    position: absolute;
    border-radius: 4px;
}
.desktop-text14 {
    top: 19px;
    left: 52px;
    color: rgba(1, 24, 39, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-component4 {
    top: 2181px;
    left: 486px;
    width: 308px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.desktop-rectangle714 {
    top: 0px;
    left: 0px;
    width: 308px;
    height: 66px;
    position: absolute;
    border-color: rgba(137, 207, 229, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}
.desktop-text16 {
    top: 19px;
    left: 55px;
    color: rgba(137, 207, 229, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-component3 {
    top: 1736px;
    left: 323px;
    width: 308px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.desktop-rectangle715 {
    top: 0px;
    left: 0px;
    width: 308px;
    height: 66px;
    position: absolute;
    border-radius: 4px;
}
.desktop-text18 {
    top: 19px;
    left: 57px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-component5 {
    top: 2717px;
    left: 756px;
    width: 308px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.desktop-rectangle716 {
    top: 0px;
    left: 0px;
    width: 308px;
    height: 66px;
    position: absolute;
    border-radius: 4px;
}
.desktop-text20 {
    top: 19px;
    left: 51px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-component6 {
    top: 3177px;
    left: 108px;
    width: 308px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.desktop-rectangle717 {
    top: 0px;
    left: 0px;
    width: 308px;
    height: 66px;
    position: absolute;
    border-radius: 4px;
}
.desktop-text22 {
    top: 19px;
    left: 55px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text24 {
    top: 166px;
    left: 235px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text26 {
    top: 166px;
    left: 468px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text28 {
    top: 166px;
    left: 711px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text30 {
    top: 166px;
    left: 927px;
    color: rgba(137, 207, 229, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-group1 {
    top: 26px;
    left: 27px;
    width: 128px;
    height: 82px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.desktop-text32 {
    top: 32px;
    left: 11px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    font-family: Monofett;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text34 {
    top: 61px;
    left: 179px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text36 {
    top: 1074px;
    left: 416px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-group4 {
    top: 1203px;
    left: 53px;
    width: 363px;
    height: 446px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
}
.desktop-text38 {
    top: 305px;
    left: 18px;
    color: rgba(0, 0, 0, 1);
    width: 328px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-image31 {
    top: 0px;
    left: 0px;
    width: 363px;
    height: 219px;
    position: absolute;
    border-radius: 8px 8px 0 0;
}
.desktop-component13 {
    top: 390px;
    left: 172.7310791015625px;
    width: 179.2811737060547px;
    height: 44px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 8px;
}
.desktop-rectangle718 {
    top: 0px;
    left: 0px;
    width: 179px;
    height: 44px;
    position: absolute;
    border-radius: 4px;
}
.desktop-text40 {
    top: 12.666666984558105px;
    left: 34.17865753173828px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text42 {
    top: 231px;
    left: 17px;
    color: rgba(0, 0, 0, 1);
    width: 308px;
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text44 {
    top: 266px;
    left: 193px;
    color: rgba(0, 0, 0, 1);
    width: 159px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    text-align: right;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-star11 {
    top: 261px;
    left: 12px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star31 {
    top: 261px;
    left: 59.9266357421875px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star21 {
    top: 261px;
    left: 35.9632568359375px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star41 {
    top: 261px;
    left: 83.889892578125px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star51 {
    top: 261px;
    left: 107.853271484375px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-group5 {
    top: 1203px;
    left: 458px;
    width: 363px;
    height: 446px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
}
.desktop-text46 {
    top: 305px;
    left: 18px;
    color: rgba(0, 0, 0, 1);
    width: 328px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-image32 {
    top: 0px;
    left: 0px;
    width: 363px;
    height: 219px;
    position: absolute;
    border-radius: 8px 8px 0 0;
}
.desktop-component14 {
    top: 390px;
    left: 172.7310791015625px;
    width: 179.2811737060547px;
    height: 44px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 8px;
}
.desktop-rectangle719 {
    top: 0px;
    left: 0px;
    width: 179px;
    height: 44px;
    position: absolute;
    border-radius: 4px;
}
.desktop-text48 {
    top: 12.666666984558105px;
    left: 34.17865753173828px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text50 {
    top: 231px;
    left: 17px;
    color: rgba(0, 0, 0, 1);
    width: 308px;
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text52 {
    top: 266px;
    left: 193px;
    color: rgba(0, 0, 0, 1);
    width: 159px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    text-align: right;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-star12 {
    top: 261px;
    left: 12px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star32 {
    top: 261px;
    left: 59.9266357421875px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star22 {
    top: 261px;
    left: 35.9632568359375px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star42 {
    top: 261px;
    left: 83.889892578125px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star52 {
    top: 261px;
    left: 107.853271484375px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-group6 {
    top: 1203px;
    left: 863px;
    width: 363px;
    height: 446px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
}
.desktop-text54 {
    top: 305px;
    left: 18px;
    color: rgba(0, 0, 0, 1);
    width: 328px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-image33 {
    top: 0px;
    left: 0px;
    width: 363px;
    height: 219px;
    position: absolute;
    border-radius: 8px 8px 0 0;
}
.desktop-component15 {
    top: 390px;
    left: 172.7310791015625px;
    width: 179.2811737060547px;
    height: 44px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 8px;
}
.desktop-rectangle720 {
    top: 0px;
    left: 0px;
    width: 179px;
    height: 44px;
    position: absolute;
    border-radius: 4px;
}
.desktop-text56 {
    top: 12.666666984558105px;
    left: 34.17865753173828px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text58 {
    top: 231px;
    left: 17px;
    color: rgba(0, 0, 0, 1);
    width: 308px;
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text60 {
    top: 266px;
    left: 193px;
    color: rgba(0, 0, 0, 1);
    width: 159px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    text-align: right;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-star13 {
    top: 261px;
    left: 12px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star33 {
    top: 261px;
    left: 59.9266357421875px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star23 {
    top: 261px;
    left: 35.9632568359375px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star43 {
    top: 261px;
    left: 83.889892578125px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-star53 {
    top: 261px;
    left: 107.853271484375px;
    width: 23px;
    height: 26px;
    position: absolute;
}
.desktop-text62 {
    top: 2012px;
    left: 324px;
    color: rgba(255, 255, 255, 1);
    width: 632px;
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text64 {
    top: 3666px;
    left: 108px;
    color: rgba(255, 255, 255, 1);
    width: 416px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text66 {
    top: 3666px;
    left: 756px;
    color: rgba(255, 255, 255, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text78 {
    top: 3666px;
    left: 972px;
    color: rgba(255, 255, 255, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text84 {
    top: 3638px;
    left: 109px;
    color: rgba(255, 255, 255, 1);
    width: 229px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text86 {
    top: 3638px;
    left: 757px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text88 {
    top: 3638px;
    left: 972px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-nesabymakers-ig-ur1i-x0mq-munsplash1 {
    top: 2389px;
    left: 0px;
    width: 640px;
    height: 520px;
    position: absolute;
}
.desktop-kellysikkema-yk0h-pw-wdj1-iunsplash1 {
    top: 2849px;
    left: 640px;
    width: 640px;
    height: 460px;
    position: absolute;
}
.desktop-text90 {
    top: 2449px;
    left: 756px;
    color: rgba(0, 0, 0, 1);
    width: 416px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text92 {
    top: 2909px;
    left: 108px;
    color: rgba(0, 0, 0, 1);
    width: 416px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text94 {
    top: 2580px;
    left: 756px;
    color: rgba(0, 0, 0, 1);
    width: 416px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text96 {
    top: 3040px;
    left: 108px;
    color: rgba(0, 0, 0, 1);
    width: 416px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-group2 {
    top: 825px;
    left: 110px;
    width: 520px;
    height: 141px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.desktop-text98 {
    left: 112.45673370361328px;
    color: rgba(0, 0, 0, 1);
    width: 408px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: italic;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text100 {
    top: 99px;
    left: 112.456787109375px;
    color: rgba(0, 0, 0, 1);
    width: 284px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-image34 {
    top: 3px;
    left: 0px;
    width: 96px;
    height: 96px;
    position: absolute;
    border-radius: 100px;
}
.desktop-group3 {
    top: 825px;
    left: 651px;
    width: 522px;
    height: 141px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.desktop-text102 {
    left: 112.88929748535156px;
    color: rgba(0, 0, 0, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: italic;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-text104 {
    top: 99px;
    left: 112.88929748535156px;
    color: rgba(0, 0, 0, 1);
    width: 285px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-image35 {
    top: 3px;
    left: 0px;
    width: 96px;
    height: 96px;
    position: absolute;
    border-radius: 873px;
}